*{
    font-size: 1.5cm;
}
body{
    background-color: #333333;
}
button{
    padding: 1cm 1.5cm;
    border-radius: 1cm;
    
}
button:hover{
    background-color: grey;
    border-color: grey;
}
#hard_reset{
    background-color: aliceblue;
    border-color: red;
}
.up_buyed{
    background-color: green;
    border-color: green;
}
.up_buyed:hover{
    background-color: green;
    border-color: green;
}
#main{
    text-align: center;
}
.text{
    color: aliceblue;
    font-size: 1.5cm;
}
.layers{
    padding: 1.5cm 2cm;
}
@keyframes rainbow_text {
    0%{color: red;}
    9%{color:orange;}
    19%{color: yellow;}
    27%{color: green;}
    37%{color: blue;}
    46%{color: purple;}
    55%{color: blue;}
    64%{color: green;}
    73%{color: yellow;}
    82%{color:orange;}
    100%{color: red;}
}
.rainbow_text{
    animation: rainbow_text 10s infinite;  
}
#news{
    color: black;
}
.softcap{
	color: #1b1f3f;
	font-weight: bold;
	text-shadow: 0px 3px 0px #16182a;
}
.conter{
    width: 100%;
    height: 70px;
    background-color: aliceblue;
    border: grey;
}
